.margin {
  margin-right: 20px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.fun-bus {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin: 4% 0;
  margin-bottom: 5%;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .fun-bus {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
.fun-bus .nav-links {
  display: flex;
  width: 100%;
}
@media (max-width: 500px) {
  .fun-bus .nav-links {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-evenly;
  }
}
.fun-bus .nav-links .home {
  margin-right: 20px;
}
.fun-bus .nav-links .aboutus {
  margin-right: 20px;
}
.fun-bus .nav-links .blog {
  margin-right: 20px;
}
.fun-bus a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.bus-fun {
  width: 100%;
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}
@media (max-width: 500px) {
  .bus-fun {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
  }
}
.line {
  width: 100%;
  border: 1.5px dashed grey;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.home .content-section .welcome-content {
  border-bottom: 2px dashed gray;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    width: 100%;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    width: 100%;
    margin-bottom: 5%;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    width: 100%;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 80%;
  }
}
.home .content-pick .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17A2B8;
  cursor: pointer;
  width: 200px;
  height: 30px;
  font-size: 1.5rem;
  border-radius: 10px;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .home .content-pick .btn {
    width: 100%;
  }
}
